.header{
    background: #293f50;
   text-decoration: none;
   text-underline-position: none;
   font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
.manu2{
  background:#cbe2c1 linear-gradient(to right, #a1d3b0, #f6f1d3);
  font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  padding: 44px 0 22px 0;
}
.footer{
  background: #293f50;
  height: 120px;
 
}
a:link {
  text-decoration: none;
  color: white;
 
}
a:visited {
  text-decoration: none;
  text-underline-position: none;
}

a:hover {
  text-decoration: none;
  text-underline-position: none;
  color: #648880;
}

a:active {
  text-decoration: none;
  color: #648880;
}
li{
  display: inline;
  font-size: 20px;
}
.conference{
  /* padding-top: 20px; */
  font-size: 53px;
  border-top: 4px solid #648880;
  color: white;
  letter-spacing: 5px;
  font-weight: 100px;
  line-height: 44px;
  padding: 40px 0 22px 0;
 padding-left: 17%;
 font: 48px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


}
.listbars{
  padding-left: 60%;
  position: relative;bottom: 70px;
  font-size: 20px;
  word-spacing: 20px;
  font: 20px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.august{
  position: relative;bottom: 80px;
  padding-left: 60%;
  font-size: 25px;
  color:  #648880;
  font: 25px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.upper{
  color:  #648880;
  font-size: 36px;
  margin: 0px 0px 20px;
  line-height: 44px;
  padding-left: 47.6%;
  font: 36px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.under{
  font-size: 21px;
    line-height: 33px;
    margin: 0px 0px 20px;
    text-align: center;
    color: #888888;
    font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mapp2{
  height: 250px;
  width: 600px;
  padding-left: 40%;
  position: relative;bottom: 15px;
}
.chicago{
  color:  #648880;
  font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chicago{
  padding-left: 17%;
  font-size: 27px;
    line-height: 44px;
   position: relative;top: 58px;
}
.state{
  padding-left: 17%;
  font-size: 18px;
    line-height: 20px;
   position: relative;top: 70px;
   font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color:  #648880;
}
.four{
  padding-left: 17%;
  font-size: 27px;
    line-height: 44px;
   position: relative;bottom:  30px;
   color:  #648880;
   font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.five{
  padding-left: 17%;
  font-size: 18.3px;
    line-height: 20px;
   position: relative;bottom: 20px;
   font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color:  #648880;
}
.copy{
  float: left;
    font-weight: 400;
    color:  #648880;
    padding-left: 17%;
    position: relative;top: 50px;
}
.links{
  padding-left: 60%;
  font-size: 20px;
  position: relative;top: 50px;
  word-spacing: 10px;
  color: white;
  font:  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  color: white;
}
.liink{
  padding-left: 60%;
  font-size: 20px;
  position: relative;top: 50px;
  word-spacing: 10px;
  color: white;
}

.map20{
 position: relative;bottom: 200px;
}
.map30{
  position: relative;bottom: 100px;
}